.App {
}

.wrapper{
  /*box-shadow: 0px 0px 15px -5px rgba(183, 183, 183, 0.66);*/
  padding: 20px;
  border: 1px solid gainsboro;
  margin: 15px;
  border-radius: 6px;
  width: 90%;

}

.spacer{
  margin: 30px;
}

.title{
  font-size: 30px;
  font-weight: 900;
}

.subtitle{
  font-size: 12px;
  margin-top: 5px;
}

.spaceLeft{
  margin-left: 30px;
}

.spaceRight{
  margin-right: 30px;
}

.noBottom{
  margin-bottom: 0px;
}

.smallButtonWidth{
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.largeButtonWidth{
  width: 160px;
}

.button{
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid gray;
  
}
.button:hover{
  background-color: gray;
  color: white;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.vertical_center{
  align-items: center;
  display: flex;
}

.bottom_space{
  margin-bottom: 10px;
}

.double_bottom_space{
  margin-bottom: 30px;
}

#lineIcon{
  border-radius: 100px;
  height: 25px;
  width: 25px;
  
}

#responseStyle{
  top: 0;
    position: absolute;
    margin-left: 80px;
    margin-top: 0px;
}