.App {
}

.wrapper{
  /*box-shadow: 0px 0px 15px -5px rgba(183, 183, 183, 0.66);*/
  padding: 20px;
  border: 1px solid gainsboro;
  margin: 15px;
  border-radius: 6px;
  width: 50%;

}

.spacer{
  margin: 30px;
}

.button{
  padding: 20px;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid gray;
  
}
.button:hover{
  background-color: gray;
  color: white;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.vertical_center{
  align-items: center;
  display: flex;
}

.bottom_space{
  margin-bottom: 10px;
}
